[mysqld]
datadir=/var/lib/mysql
user=mysql

binlog_format=ROW
innodb_log_file_size=64M   
innodb_file_per_table=1
log_slave_updates

#support GTID
enforce_gtid_consistency=1
gtid_mode=on

log-bin=node-bin
